*/utils/__pycache__/
*/model/ckpt/
*/model/model/
*/model/logs/
*/model/weights/

*/.neptune/
*/aas
*/auxer
*/.pretrained


*.h5
*.out
*.code-workspace

.aux/
.env/
.dev/
.contentor/
.vscode/
dog-cat/
essentia/
zhen++/
