*/model/ckpt/
*/model/model/
*/model/logs/
*/model/weights/

*/.neptune/
*/aas
*/auxer
*/.pretrained
*/__pycache__

*.h5
*.out
*.code-workspace
*.pb
*variables

.aux/
.env/
.dev/
.contentor/
.vscode/
dog-cat/
essentia/
zhen++/
